* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: casino;
    src: url('fonts/BebasNeue.woff');
}
body {
    background: #ededed;
}
::selection {
  background: rgba(72, 153, 50, 0.5);
}
::-moz-selection {
  background: rgba(72, 153, 50, 0.5);
}
button:focus,button:active,input:focus {
  outline: 0;
}
a {
  color: #489932;
  text-decoration: none;
}
a:hover {
  color: #278C0B;
  text-decoration: none;
}
a:focus,a:active {
  color: inherit;
}
.all {
  width: 100%;
}
.bRegul {
  position: absolute;
  height: 40px;
  margin-top: 10px;
  margin-left: 252px;
}
.leftblock {
  width: 0;
  float: left;
  display: none;
  position: fixed;
  margin-top: 130px;
  background-color: #fff;
  padding: 10px 0;
  border-right: 2px solid rgba(0,0,0,0.4);
  overflow: hidden;
}
.page {
  float: right;
  margin-top: 130px;
  width: 100%;
}
.leftCon {
  display: none;
}
.leftCon .content {
  position: relative;
}
.leftCon .footer {
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  margin: -10px;
  margin-top: 3px;
  padding: 10px 10px;
  margin-bottom: -20px;
}
.leftbuttons {
  position: absolute;
  top: 270px;
}
.leftbuttons button {
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.6);
  display: block;
  border: none;
  color: #ddd;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.leftbuttons button:hover {
  color: #599b47;
  background-color: #333333;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.leftbuttons button.active {
  color: #599b47;
  background-color: #333333;
  border-bottom: 1px solid rgba(0,0,0,0);
}
.leftbuttons button:first-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}
.leftbuttons button:last-child {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}
.leftbuttons button.last-child:hover {
  border-bottom: none;
}
.closeLeft,.closeLeft:focus,.closeLeft:active {
  color: rgba(0,0,0,0.4);
  position: fixed;
  margin: 8px;
  font-size: 20px;
  display: none;
  
}
.closeLeft:hover {
  color: rgba(0,0,0,0.6); 
}

.heading {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  padding: 10px;
  margin: -10px;
  margin-bottom: 3px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
.chat-icon{
  float: left;
  color: rgb(255, 255, 255);
  padding: 18px 18px 18px 0px;
  font-size: 18px;
  cursor: pointer;
}
.chat-icon:hover{
  color: inherit;
}

.chat-input {
  width: 100%;
}

.chat-message {
  margin: 0 5px;
  margin-bottom: 10px;
  padding: 1px;
  padding-top: 0;
  overflow: hidden;
  color: #474C6C;
  background-color: white;
}
.chat-m-user {
  font-size: 12px;
  float: left;
  padding: 0 10px;
  font-weight: bold;
  width: 70%;
  height: 30px;
  line-height: 30px;
}
.chat-m-time {
  float: right;
  font-size: 10px;
  padding: 0 10px;
  width: 30%;
  text-align: right;
  height: 30px;
  line-height: 30px;
}
.chat-m-text {
  padding: 4px 9px;
  display: block;
  font-size: 12px;
  clear: both;
}
.stats {
  text-align: center;
  margin-top: 100px;
}
.st-switches a,.st-switches a:focus,.st-switches a:active {
  display: inline-block;
  margin-right: 5px;
  height: 60px;
  line-height: 60px;
  width: 150px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-decoration: none;
}
.st-switches a:last-child {
  margin-right: 0;
}
.st-switches a:hover {
  color: #fff;
}
.st-switches a.active {
  background-color: #333333;
}
.st-switches a.rulesB {
  position: absolute;
  display: block;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 45px;
  height: 45px;
  font-size: 45px;
  background: none;
  color: rgba(0,0,0,0.6);
}
.st-switches a.rulesB span {
  position: relative;
  top: -3px;
}
.st-switches a.rulesB:hover {
  color: rgba(0,0,0,0.8);
}
.st-switchline {
  height: 40px;
  background-color: #333333;
}
.st-stats {
  width: 100%;
  background-color: rgb(255,255,255);
  padding-top: 40px;
  min-height: 240px;
  padding-bottom: 40px;
}
.st-stats table {
  margin-top: -80px;
  width: 948px;
  margin-left: auto;
  margin-right: auto;
}
.st-stats table thead {
  width: 998px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bold;
}
.st-stats table thead tr {
  height: 40px;
}
.st-stats table tbody {
  display: none;
}
.st-stats table tbody tr {
  height: 40px;
  color: black;
}
.st-stats table tbody tr td:first-child {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.st-stats table tbody tr td:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.st-stats table tbody tr:nth-child(odd) td {
  background-color: inherit;
}
.st-stats table tbody tr:nth-child(even) td {
  background-color: rgba(0,0,0,0.1);
}
.st-stats table tbody.reversed tr:nth-child(odd) td {
  background-color: rgba(0,0,0,0.1);
}
.st-stats table tbody.reversed tr:nth-child(even) td {
  background-color: inherit;
}
.waitingStats {
  display: none;
}
.profit-loss {
  color: #6d0000;
}
.profit-win {
  color: #003001;
}
.profit-neutral .st-plus {
  visibility: hidden;
}
._heading {
  font-size: 13px;
  font-weight: bold;
  color: #278C0B;
  padding-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
._heading._hfirst {
  padding-top: 20px;
}
.leftact {
  height: 39px;
  text-align: center;
  line-height: 39px;
  width: 20%;
  display: block;
  float: right;
  border-left: none;
}
.statsResIcon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  display: inline-block;
  position: relative;
  top: 5px;
}
._topNone {
  top: 0;
}
.rightact {
  border: 1px solid lightgray;
}
.bal_status {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-transform: uppercase;
  background: #599b47;
  border-bottom: 2px solid #278C0B;
  margin: 14px 0px 15px 40px;
}
.gray_a,.gray_a:active,.gray_a:focus {
  color: #278C0B;
  text-decoration: none;
}
.gray_a:hover {
  color: #278C0B;
}
.captchadiv {
  padding: 5px;
  border: 1px solid #278C0B;
  width: 238px;
  height: 62px;
  display: block;
  margin-bottom: 10px;
}
.captchadiv img {
  width: 226px;
  height: 50px;
}
.captchaInput {
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #278C0B;
  font-size: 13px;
  background: #599b47; /* Old browsers */
  font-size: 13px;
  padding: 7.5px 25px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
  border-bottom: 2px solid #278C0B;
  background: #278C0B;
  background: -moz-linear-gradient(top, #299a0b 0%, #489932 46%, #299a0b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #299a0b 0%,#489932 46%,#299a0b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #299a0b 0%,#489932 46%,#299a0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.gameControllers{
  border-radius: 0px;
}
.chat-message:first-of-type{
  margin-top: 10px;
}
.navbar-fixed-top{
  color: #fff;
}
.navbar-first{
  height: 70px;
  background-color: rgb(30, 30, 30);
}
.navbar-second{
  height: 60px;
  top: 70px;
  z-index: 100;
}
.navbar-first .navbar-brand{
  padding: 23px 15px;
  height: 70px;
  padding-left: 0px;
  font-weight: 600;
}
.navbar-nav > li > a{
  cursor: pointer;
}
.navbar-first .navbar-nav > li > a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 10px;
  padding: 5px 7px;
}
.navbar-first .navbar-nav > li > a.active{
  background: #272727;
}
.navbar-first.navbar .signin_btn{
  margin: 19px 0px 15px 40px;
}
.navbar-second .navbar-nav > li > a, .navbar-second .navbar-brand{
  padding: 20px;
  font-size: 13px;
  text-transform: uppercase;
}
.navbar-second .navbar-nav > li > a:hover, .navbar-second .navbar-nav > li > a:focus{
  background-color: inherit;
}
.navbar-second .navbar-form{
  padding-right: 0px;
}
@media (min-width: 1200px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
  .navbar-second .navbar-brand, .navbar-second .navbar-brand:hover, .navbar-second .navbar-brand:focus {
    margin: 15px 0px;
  }
}
.navbar-second .navbar-brand, .navbar-second .navbar-brand:hover, .navbar-second .navbar-brand:focus {
  background: #599b47;
  border-bottom: 2px solid #278C0B;
  padding: 5px 10px;
  height: auto;
  margin: 15px 0px;
}
.navbar-second .btn{
  padding: 8px 20px;
  margin: 7px 5px;
}
.navbar .dropdown-menu > li > a{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.dropdown-menu > li > a {
  padding: 10px 3px;
  margin: 0px 10px;
  border-bottom: 1px solid #353535;
}
.dropdown-menu > li{
  background-color: #272727;
}
.nav-icon{
  margin-right: 10px;
  color:  #505050;
}
.navbar .dropdown-menu > li > a {
  background-color: #272727;
}
.navbar .dropdown-menu > li:hover,.navbar .dropdown-menu > li:focus, .navbar .dropdown-menu > li > a:hover,.navbar .dropdown-menu > li > a:focus {
  background-color: #202020;
}
.navbar-first .dropdown-menu{
  top: 52px;
  right: 10px;
}

@media (max-width: 1199px){
  .navbar-first .container{
    background: rgb(30, 30, 30);
    width: 100%;
  }
  .navbar-first .navbar-toggle{
    margin-top: 15px;
  }
  .navbar-first .navbar-nav > li > a,.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    max-width: 150px;
    margin: 20px auto;
    text-align: center;
  }
  .navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:focus{
    background: rgb(30, 30, 30);
  }
  .navbar-second .container{
    width: 100%;
    background: #333;
  }
  .navbar-second .navbar-toggle{
    margin-top: 12px;
  }
  .bal_status, .signin_btn{
    position: fixed;
    right: 80px;
    top: 0px;
  }
  .navbar-default .navbar-form{
    border-top: none;
    margin-top: 0px;
    text-align: center;
  }
  .navbar-default .navbar-brand, .navbar-second .chat-icon, .navbar-default .navbar-brand:hover, .navbar-second .chat-icon{
    margin-left: 15px;
  }
  .navbar-second .navbar-nav{
    text-align: center;
  }
}
.game{
  margin-top: 70px;
}
footer {
  padding: 20px 0px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
}
footer hr{
  border-top: 1px dotted #555;
}
footer h1.title{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px dotted #555;
  padding-bottom: 10px;
}
footer a{
  color: #999;
}
footer a:hover, footer a:focus, footer a:active{
  color: #fff;
}
.input-group-btn .btn-sm {
  padding: 9px 10px 8px 10px;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
  background-color: #419e27;
  border-color: #419e27;
}
.nav-tabs{
  margin-bottom: 15px;
}
.nav > li > a {
  padding: 6px 15px;
}
.g_insurance{
  left: 50%;
  position: relative;
  transform: translateX(-200px);
  display: none;
}
.g_ins_question{
  float: left;
  padding: 20px 40px;
}

.p_alert{
  position: fixed;
  z-index: 9999999;
  bottom: 15px;
  right: 10px;
  margin: 0;
  display: none;
}
.tab-pane .table th{
  border-top: none;
}
.leftCon .heading{
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-bottom: 1px solid rgba(71,76,108,0.4);
  padding: 20px 25px;
  color: #474C6C;
}
.leftCon .heading a{
  color: rgba(71,76,108,0.9)
}
.leftCon .heading a:hover, .leftCon .heading a:focus, .leftCon .heading a.active{
  color: #474C6C;
}
.lc-chat .footer{
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-top: 1px solid rgba(71,76,108,0.4);
}
.chat-input{
  border: 1px solid rgba(71,76,108,0.4);
  color: #474C6C;
}
.page .content{
  padding: 50px 0px;
}
.tqrcode{
  margin: 10px 0px;
}